@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  font-size: 18px;
}

.hero h1 {
  color: #0c145a;
  font-weight: 700;
}

.hero img {
  width: 500px;
}

.my-name {
  font-size: 96px;
  font-weight: 600;
}

.my-title {
  font-size: 36px;
  font-weight: 500;
}

.socialmedia-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.socialmedia-links p {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 24px;
}

.socialmedia-links a {
  width: auto;
  background-color: white;
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.178);
  padding: 31px;
  border-radius: 50%;
  display: inline-block;
  margin: 12px;
}
.socialmedia-links img {
  width: 52px;
  height: 52px;
}

.btn-profile {
  background-color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.profile {
  background-color: #0000ff;
  margin-top: 170px;
  padding: 100px;
}

.profile img {
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
}

.profile-description {
  font-size: 24px;
  font-weight: 600;
  color: white;
  line-height: 50px;
}

.myworks {
  margin-top: 150px;
}

.myworks p {
  font-size: 64px;
  font-weight: 600;
}

.myworks-box {
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.103);
}

.technology {
  margin-top: 150px;
}

.technology p {
  font-size: 64px;
  font-weight: 600;
}

.technology-box {
  width: fit-content;
  padding: 16px;
  margin: 16px;
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.103);
}

.footer {
  background-color: #f9faff;
  margin-top: 200px;
  color: #0c145a;
}

.footer a {
  display: block;
  text-decoration: none;
  margin-bottom: 12px;
}
